# Base requirements
wheel # Needed to install dependencies without project.toml-file
numpy
matplotlib
attrs

sympy

# For better interface
ipython

# For evaluation of experiments
pandas

# Debugging / TypeHint
flake8
black

